/*font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Square Peg', cursive; */

body {
    background: rgb(194, 178, 128);
    background: linear-gradient(bottom, rgba(194, 178, 128, 1), rgba(194, 178, 128, 0));
    background: -webkit-linear-gradient(bottom, rgba(194, 178, 128, 1), rgba(194, 178, 128, 0));
    background: -moz-linear-gradient(bottom, rgba(194, 178, 128, 1), rgba(194, 178, 128, 0));
}

h1 {
    text-align: center;
    font-family: "Square Peg";
    font-size: 75px;
}

h2 {
    font-family: "Lato";
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 16px;
}

li {
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 16px;
}

h3 {
    font-family: "Lato";
    text-align: center;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

.navigationList .nav-icon {
    display: none;
}

.navigationList {
    background-color: rgba(92, 147, 230, 0.8);
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    margin-right: 8px;
}

.navigation-item {
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid black;
    margin: 0;
}

#my-name {
    font-family: "Square Peg";
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 5px;
    border: none;
}

.top-section-image {
    display: flex;
    background-image: url(images\cotuit-sunrise-beach-1600-1200.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    align-items: flex-end;
    margin-top: 60px;
}

.top-section-text {
    text-justify: left;
    color: white;
    padding-left: 10px;
}

.description-container {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.description-text-container {
    max-width: 70%;
    padding: 10px;
}

.description-image-container {
    width: 30%;
    padding: 10px;
}

.description-image-container img {
    object-fit: contain;
    height: auto;
    width: 100%;
    max-height: 300px;
}

.professional-experience-list {
    display: flex;
    flex-direction: column;
    justify-items: left;
    margin-left: 50px;
}

.technology-skills-container {
    background-color: rgb(92, 147, 230);
    border-radius: 15px;
}

.technology-skills-list h2 {
    border-bottom: 1px solid black;
}

.skills-list-container {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.contact-information-text {
    display: block;
    text-align: center;
}

div.form-container {
    display: inline-block;
    font-family: "Merriweather";
    font-size: 16px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#fcf-button {
    font-family: "Merriweather";
    font-size: 16px;
    border-radius: 4px;
}

.skills-list-item {
    height: 60px;
    margin: 0px 10px 10px 10px;
}

.social-media-links {
    display: flex;
    justify-content: center;
}

.social-media-links img {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.social-media-link {
    border-radius: 50%
}

.social-media-link:hover {
    background-color: rgb(92, 147, 230);
}

@media screen and (max-width: 600px) {
    .navigationList a:not(:first-child), .navigationList {
        display: none;
    }

    .navigationList a.nav-icon {
        float: right;
        display: block;
        margin-right: 20px;
        font-size: 24px;
    }
    
    .navigationList {
        display: block;
        padding: 5px;
        
    }

    navigation-item {
        border-left: none;
        border-bottom: 1px solid black;
    }

    .top-section-image {
        margin-top: 80px;
        height: 150px;
    }

    .description-container {
        flex-direction: column-reverse;
    }

    .description-text-container {
        max-width: 95%;
    }

    .description-image-container {
        max-width: 95%;
        padding: 10px;
        margin: 0 auto;
    }

    .professional-experience-list {
        margin-left: 0px;
    }

    .skills-list-item {
        height: 30px;
        margin: 0px 5px 10px 5px;
    }
}

@media screen and (max-width: 600px) {
    .navigationList.responsive {
        position: fixed;
    }

    .navigationList.responsive a.nav-icon {
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .navigationList.responsive {
        display: block;
    }

    .navigationList.responsive .navigation-item {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-left: none;
        border-bottom: 1px solid black;
    }

    navigation-item {
        border-left: none;
        border-bottom: 1px solid black;
    }
}